/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Color Pallette */
	--rich-black1: hsl(226, 27%, 5%);
	--rich-black2: hsl(226, 27%, 10%);
	--rich-black3: hsl(226, 27%, 13%);
	--rich-black4: hsl(226, 27%, 15%);

	--black4: hsl(0, 0%, 0%);
	--black3: hsl(0, 0%, 5%);
	--black2: hsl(0, 0%, 10%);
	--black1: hsl(0, 0%, 15%);

	--dark-gray4: hsl(0, 0%, 20%);
	--dark-gray3: hsl(0, 0%, 25%);
	--dark-gray2: hsl(0, 0%, 30%);
	--dark-gray1: hsl(0, 0%, 35%);

	--gray4: hsl(0, 0%, 40%);
	--gray3: hsl(0, 0%, 45%);
	--gray2: hsl(0, 0%, 50%);
	--gray1: hsl(0, 0%, 60%);

	--light-gray4: hsl(0, 0%, 65%);
	--light-gray3: hsl(0, 0%, 70%);
	--light-gray2: hsl(0, 0%, 75%);
	--light-gray1: hsl(0, 0%, 80%);

	--white1: hsl(0, 0%, 85%);
	--white2: hsl(0, 0%, 90%);
	--white3: hsl(0, 0%, 95%);
	--white4: hsl(0, 0%, 100%);

	--red1: hsl(2, 100%, 35%);
	--red2: hsl(2, 100%, 45%);
	--red3: hsl(2, 100%, 55%);
	--red4: hsl(342, 100%, 60%);

	--orange1: hsl(19, 100%, 35%);
	--orange2: hsl(19, 100%, 45%);
	--orange3: hsl(19, 100%, 55%);

	--orange-yellow1: hsl(35, 100%, 35%);
	--orange-yellow2: hsl(35, 100%, 45%);
	--orange-yellow3: hsl(35, 100%, 55%);

	--yellow1: hsl(60, 100%, 35%);
	--yellow2: hsl(60, 100%, 45%);
	--yellow3: hsl(60, 100%, 55%);

	--yellow-green1: hsl(84, 100%, 35%);
	--yellow-green2: hsl(84, 100%, 45%);
	--yellow-green3: hsl(84, 100%, 55%);

	--green1: hsl(113, 100%, 20%);
	--green2: hsl(113, 100%, 30%);
	--green3: hsl(113, 100%, 40%);
	--green4: hsl(113, 100%, 72%);

	--blue-green1: hsl(165, 100%, 35%);
	--blue-green2: hsl(165, 100%, 45%);
	--blue-green3: hsl(165, 100%, 55%);

	--dark-teal1: hsl(179, 100%, 15%);
	--dark-teal2: hsl(179, 100%, 25%);

	--teal1: hsl(179, 100%, 35%);
	--teal2: hsl(179, 100%, 45%);
	--teal3: hsl(179, 100%, 55%);
	--teal4: hsl(171, 92%, 53%);

	--blue1: hsl(218, 100%, 25%);
	--blue2: hsl(218, 100%, 35%);
	--blue3: hsl(218, 100%, 45%);
	--blue4: hsl(218, 100%, 55%);

	--blue-gray0: hsl(221, 39%, 11%);
	--blue-gray1: hsl(215, 28%, 17%);
	--blue-gray2: hsl(217, 19%, 27%);
	--blue-gray4: hsl(220, 10%, 46%);

	--indigo1: hsl(251, 74%, 30%);
	--indigo2: hsl(251, 74%, 40%);
	--indigo3: hsl(251, 74%, 50%);
	--indigo4: hsl(261, 100%, 60%);

	--purple1: hsl(290, 100%, 35%);
	--purple2: hsl(290, 100%, 45%);
	--purple3: hsl(290, 100%, 55%);

	--pink1: hsl(315, 100%, 35%);
	--pink2: hsl(315, 100%, 45%);
	--pink3: hsl(315, 100%, 55%);
	--pink4: hsl(301, 93%, 71%);

	--bg-color-red: var(--red4);
	--bg-color-pink: var(--pink4);
	--bg-color-orange: var(--orange2);
	--bg-color-teal: var(--teal4);
	--bg-color-green: var(--green4);
	--bg-color-blue: var(--blue-green2);
	--bg-color-gray: var(--gray1);
	--bg-color-yellow: var(--yellow3);
	--bg-color-indigo: var(--indigo4);

	--fg-color-on-red: var(--black4);
	--fg-color-on-pink: var(--black4);
	--fg-color-on-orange: var(--black4);
	--fg-color-on-teal: var(--black4);
	--fg-color-on-green: var(--black4);
	--fg-color-on-blue: var(--black4);
	--fg-color-on-gray: var(--black4);
	--fg-color-on-yellow: var(--black4);
	--fg-color-on-indigo: var(--black4);

	--button-disabled-bg-color: var(--gray2);
	--button-disabled-text-color: var(--dark-gray3);

	--page-bg-color: var(--black1);
	--hl-text-shadow: hsla(0, 0%, 100%, 0.6);
	--radio-button-color: var(--pink4);
	--fieldset-title-color: var(--white3);
	--fieldset-border-color: var(--gray2);
	--options-details-name-color: var(--gray2);
	--options-details-value-color: var(--white2);
	--default-border-color: hsla(0, 0%, 85%, 0.45);
	--modal-dialog-bg-color: hsla(0, 0%, 20%, 0.9);
	--modal-header-text-color: var(--white2);
}

*,
*::before,
*::after {
	box-sizing: content-box;
}

html,
body {
	background-color: var(--gray4);
	position: relative;
	width: 100%;
	height: 100%;
}

html {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: normal;
	color: #d8d8d8;
	margin: 0;
	box-sizing: border-box;
}

main.encode {
	--pri-color: var(--teal4);
	--sec-color: var(--pink4);

	/* Algorithm Demo Nav Buttons (Manual Mode) */
	--nav-button-text-color: var(--black2);
	--nav-button-bg-color: hsla(171 100% 63% / 0.45);
	--nav-button-border-color: hsla(171 100% 63% / 0.7);
	--nav-button-hover-text-color: var(--black4);
	--nav-button-hover-bg-color: hsla(171 100% 63% / 0.7);
	--nav-button-active-text-color: var(--black4);
	--nav-button-active-bg-color: hsla(171 100% 63% / 0.85);
	--nav-button-active-border-color: hsla(171 100% 63% / 0.85);

	/* Algorithm Demo Nav Buttons (Auto Play Mode) */
	--nav-button-autoplay-text-color: var(--black4);
	--nav-button-autoplay-bg-color: hsla(301 93% 71% / 0.85);
	--nav-button-autoplay-border-color: hsla(301 93% 71% / 0.85);
	--nav-button-autoplay-idle-text-color: var(--dark-gray4);
	--nav-button-autoplay-idle-bg-color: hsla(301 93% 88% / 0.25);
	--nav-button-autoplay-idle-border-color: var(--nav-button-autoplay-border-color);
	--nav-button-stop-autoplay-text-color: var(--black2);
	--nav-button-stop-autoplay-bg-color: hsla(301 93% 71% / 0.45);
	--nav-button-stop-autoplay-border-color: var(--nav-button-autoplay-border-color);

	/* Disabled Button */
	--button-disabled-text-color: var(--dark-gray4);
	--button-disabled-bg-color: hsla(171 100% 88% / 0.25);
	--button-disabled-border-color: var(--nav-button-border-color);

	/* Select Menu */
	--select-bg-color: var(--nav-button-bg-color);
	--select-bg-color-hov: var(--nav-button-hover-bg-color);
	--select-text-color: var(--nav-button-text-color);
	--select-text-color-no-selection: var(--button-disabled-text-color);
	--select-border-color: var(--nav-button-border-color);
	--selected-item-bg-color: var(--nav-button-hover-bg-color);
	--select-text-color-disabled: var(--button-disabled-text-color);
	--select-bg-color-disabled: var(--button-disabled-bg-color);
}

main.decode {
	--pri-color: var(--green4);
	--sec-color: var(--indigo4);

	/* Algorithm Demo Nav Buttons (Manual Mode) */
	--nav-button-text-color: var(--black2);
	--nav-button-bg-color: hsla(113 100% 72% / 0.45);
	--nav-button-border-color: hsla(113 100% 72% / 0.7);
	--nav-button-hover-text-color: var(--black4);
	--nav-button-hover-bg-color: hsla(113 100% 72% / 0.7);
	--nav-button-active-text-color: var(--black4);
	--nav-button-active-bg-color: hsla(113 100% 72% / 0.85);
	--nav-button-active-border-color: hsla(113 100% 72% / 0.85);

	/* Algorithm Demo Nav Buttons (Auto Play Mode) */
	--nav-button-autoplay-text-color: var(--black4);
	--nav-button-autoplay-bg-color: hsla(261 100% 60% / 0.85);
	--nav-button-autoplay-border-color: hsla(261 100% 60% / 0.85);
	--nav-button-autoplay-idle-text-color: var(--dark-gray4);
	--nav-button-autoplay-idle-bg-color: hsla(261 100% 77% / 0.25);
	--nav-button-autoplay-idle-border-color: var(--nav-button-autoplay-border-color);
	--nav-button-stop-autoplay-text-color: var(--black2);
	--nav-button-stop-autoplay-bg-color: hsla(261 100% 60% / 0.45);
	--nav-button-stop-autoplay-border-color: var(--nav-button-autoplay-border-color);

	/* Disabled Button */
	--button-disabled-text-color: var(--dark-gray4);
	--button-disabled-bg-color: hsla(113 100% 87% / 0.2);
	--button-disabled-border-color: var(--nav-button-border-color);

	/* Select Menu */
	--select-bg-color: var(--nav-button-bg-color);
	--select-bg-color-hov: var(--nav-button-hover-bg-color);
	--select-text-color: var(--nav-button-text-color);
	--select-text-color-no-selection: var(--button-disabled-text-color);
	--select-border-color: var(--nav-button-border-color);
	--selected-item-bg-color: var(--nav-button-hover-bg-color);
	--select-text-color-disabled: var(--button-disabled-text-color);
	--select-bg-color-disabled: var(--button-disabled-bg-color);
}

code,
pre {
	font-family: 'Roboto Mono', monospace;
	font-size: inherit;
	background-color: inherit;
	color: inherit;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 5px;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

button {
	transition-property: color, background-color, border-color, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.hide-element {
	display: none;
}

.responsive {
	overflow-x: auto;
	overflow-y: hidden;
	width: auto;
	margin: auto;
}

.input-form button {
	color: var(--nav-button-text-color);
	background-color: var(--nav-button-bg-color);
	border-top: 1px solid var(--nav-button-border-color);
	border-bottom: 1px solid var(--nav-button-border-color);
	border-right: none;
	border-left: 0.5px solid var(--nav-button-border-color);
	border-radius: 0;
	padding: 8px 13px;
	margin: 0;
	height: 33px;
	cursor: pointer;
}

.input-form button:hover {
	color: var(--nav-button-hover-text-color);
	background-color: var(--nav-button-hover-bg-color);
}

.input-form button:focus,
.input-form button:active,
.input-form button:active:focus {
	color: var(--nav-button-active-text-color);
	background-color: var(--nav-button-active-bg-color);
	border-left: 0.5px solid var(--nav-button-active-border-color);
	border-top: 1px solid var(--nav-button-active-border-color);
	border-bottom: 1px solid var(--nav-button-active-border-color);
}

.input-form button:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left: 1px solid var(--nav-button-border-color);
}

.input-form button:first-child:focus,
.input-form button:first-child:active,
.input-form button:first-child:active:focus {
	border-left: 1px solid var(--nav-button-active-border-color);
}

.input-form button:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-right: 1px solid var(--nav-button-border-color);
}

.input-form button:last-child:focus,
.input-form button:last-child:active,
.input-form button:last-child:active:focus {
	border-right: 1px solid var(--nav-button-active-border-color);
}

.input-form button:disabled,
.input-form button:disabled:hover,
.input-form button:disabled:focus,
.input-form button:disabled:active,
.input-form button:disabled:active:focus {
	cursor: default;
	color: var(--button-disabled-text-color);
	background-color: var(--button-disabled-bg-color);
	border-left: 0.5px solid var(--button-disabled-border-color);
	border-top: 1px solid var(--button-disabled-border-color);
	border-bottom: 1px solid var(--button-disabled-border-color);
}

.input-form button:disabled:first-child,
.input-form button:disabled:first-child:focus,
.input-form button:disabled:first-child:active,
.input-form button:disabled:first-child:active:focus {
	border-left: 1px solid var(--button-disabled-border-color);
}

.input-form button:disabled:last-child,
.input-form button:disabled:last-child:focus,
.input-form button:disabled:last-child:active,
.input-form button:disabled:last-child:active:focus {
	border-right: 1px solid var(--button-disabled-border-color);
}

.autoplay button,
.autoplay button:hover,
.autoplay button:focus,
.autoplay button:active,
.autoplay button:active:focus {
	color: var(--nav-button-autoplay-text-color);
	background-color: var(--nav-button-autoplay-bg-color);
	border-left: 0.5px solid var(--nav-button-autoplay-border-color);
	border-top: 1px solid var(--nav-button-autoplay-border-color);
	border-bottom: 1px solid var(--nav-button-autoplay-border-color);
}

.autoplay button.idle,
.autoplay button.idle:hover,
.autoplay button.idle:focus,
.autoplay button.idle:active,
.autoplay button.idle:active:focus,
.autoplay button:disabled,
.autoplay button:disabled:hover,
.autoplay button:disabled:focus,
.autoplay button:disabled:active,
.autoplay button:disabled:active:focus {
	cursor: default;
	color: var(--nav-button-autoplay-idle-text-color);
	background-color: var(--nav-button-autoplay-idle-bg-color);
	border-left: 0.5px solid var(--nav-button-autoplay-idle-border-color);
	border-top: 1px solid var(--nav-button-autoplay-idle-border-color);
	border-bottom: 1px solid var(--nav-button-autoplay-idle-border-color);
}

.autoplay button.idle:last-child,
.autoplay button.idle:last-child:hover,
.autoplay button.idle:last-child:focus,
.autoplay button.idle:last-child:active,
.autoplay button.idle:last-child:active:focus,
.autoplay button:disabled:last-child,
.autoplay button:disabled:last-child:hover,
.autoplay button:disabled:last-child:focus,
.autoplay button:disabled:last-child:active,
.autoplay button:disabled:last-child:active:focus {
	border-right: 1px solid var(--nav-button-autoplay-idle-border-color);
}

.autoplay button.idle:first-child,
.autoplay button.idle:first-child:hover,
.autoplay button.idle:first-child:focus,
.autoplay button.idle:first-child:active,
.autoplay button.idle:first-child:active:focus,
.autoplay button:disabled:first-child,
.autoplay button:disabled:first-child:hover,
.autoplay button:disabled:first-child:focus,
.autoplay button:disabled:first-child:active,
.autoplay button:disabled:first-child:active:focus {
	border-left: 1px solid var(--nav-button-autoplay-idle-border-color);
}

.input-form .icon {
	width: 11px;
	margin: auto;
}

@media screen and (max-width: 400px) {
	:global(body) {
		background-color: var(--page-bg-color);
	}
}
